/* Завдання №1 */
#greycol{
    color: grey;
}
.text-box h3:first-child{
    color: pink;
}
.text-box > div > p{
    color: red;
}
.yellow{
    color: yellow;
}
h3 + p{
    color: green;
}
p:nth-child(2){
    color: #000;
}
/* Завдання №2 */
ul{
    list-style: none;
}
.list{
    display: flex;
}
.hover-link:hover{
    color: yellowgreen;
}
.focus-link:focus{
    background-color: blue;
}
.visited-link:visited{
    color: aqua;
}
.link:link{
    background-color: green;
}
.active-link:active{
    background-color: black;
}
.tuesday li:last-child{
    background-color: rgb(34, 178, 36);
}
.wednesday li:nth-child(odd){
    color: rgb(145, 213, 0);
}
.wednesday li:nth-child(event){
    color: aquamarine;
}
.thursday li:nth-child(-n + 2){
    color: rgb(215, 118, 118);
}
.friday li:nth-child(3n + 1){
    background-color: tomato;
}